{% extends 'base.html' %} {% block body %}  {{ super() }}
<div class="user-form">
  <h1>{{ the_title }}</h1>

  {% if message != "" %}
  <p>{{message}}</p>
  {% endif %}
  <form method="post" action="">
    <div class="form-group">
      <label>Question</label>
      <input
        type="text"
        class="form-control"
        name="title"
        value="{{questiondata[1]}}"
      />
    </div>
    <div class="form-group">
      <label>a</label>
      <input
        type="text"
        class="form-control"
        name="option1"
        value="{{questiondata[2]}}"
      />
    </div>
    <div class="form-group">
      <label>b</label>
      <input
        type="text"
        class="form-control"
        name="option2"
        value="{{questiondata[3]}}"
      />
    </div>
    <div class="form-group">
      <label>c</label>
      <input
        type="text"
        class="form-control"
        name="option3"
        value="{{questiondata[4]}}"
      />
    </div>
    <div class="form-group">
      <label>d</label>
      <input
        type="text"
        class="form-control"
        name="option4"
        value="{{questiondata[5]}}"
      />
    </div>
    <div class="form-group">
      <label>Answer</label>
      <select class="form-control" name="answer">
        <option value="1">a</option>
        <option value="2" {% if questiondata[6] == "2" %} selected {% endif %}>b</option>
        <option value="3"  {% if questiondata[6] == "3" %} selected {% endif %}>c</option>
        <option value="4"  {% if questiondata[6] == "4" %} selected {% endif %}>d</option>
      </select>
    </div>
    <div class="form-group">
      <input type="hidden" name="quiquestion_id" value="{{questiondata[0]}}" />
      <input type="hidden" name="quiz_id" value="{{questiondata[7]}}" />
      <button type="submit" class="btn">Update Question</button>
    </div>
  </form>
</div>
{% endblock %}
