<!DOCTYPE html>
<html>
  <head>
    <title>{{ the_title }}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <ul>
        {% if session.get("user_id") == None %}
        <li>
          <a href="/">Home</a>
        </li>
        {% endif %} {% if session.get("is_admin") == '1' %}
        <li><a href="/admin/create_quiz">Create Quiz</a></li>
        <li><a href="/quiz">Public Quiz</a></li>
        <li><a href="/admin/quiz">Manage Quiz</a></li>
        <li><a href="/admin/all_results">All Results</a></li>
        {% else %}
        <li><a href="/quiz">Quiz</a></li>
        <li><a href="/results">Results</a></li>
        {% endif %}

        <li>
          {% if session.get("user_id") != None %}
          <a href="/logout">Logout</a>
          {% endif %}
        </li>
      </ul>
    </header>
    {% block body %} {% for category, message in
    get_flashed_messages(with_categories=true) %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %} {% endblock %}
    <script src="/static/custom.js"></script>
  </body>
</html>
