{% extends 'base.html' %} {% block body %} {{ super() }}
<h1>{{ the_title }}</h1>
<table cellpadding="0" cellspacing="0" class="table">
  <thead>
    <th width="50">id</th>
    <th>Title</th>

    <th>Action</th>
  </thead>
  <tbody>
    {% for q in quiz %}
    <tr>
      <td width="50">#{{ q[0] }}</td>
      <td>{{ q[1] }}</td>

      <td>
        {% if q[0] not in answerData %}
        <a href="/take-quiz/{{ q[2] }}/question" class="btn-primary"
          >Take Quiz</a
        >
        {% else %}
        <a href="/take-quiz/{{ q[2] }}/result" class="btn-secondary"
          >View Results</a
        >
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
