{% extends 'base.html' %} {% block body %}
<h1>{{ the_title }}</h1>
<table cellpadding="0" cellspacing="0" class="table">
  <thead>
    <th>id</th>
    <th>Title</th>
    <th>Description</th>

    <th>Action</th>
  </thead>
  <tbody>
    {% for q in quiz %}
    <tr>
      <td>{{ q[0] }}</td>
      <td>{{ q[1] }}</td>
      <td>{{ q[2] }}</td>

      <td>
        <a href="/take-quiz/{{ q[2] }}/result" class="btn-secondary"
          >View Results</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
